<% provide(:title, 'Context search') %>
<h1>Context search</h1>
<p>Search a word or phrase. We'll show you all the media (and media translations) that contain your query.</p>
<p>If it's not there, we'll promptly add it, and you'll receive a notification when we do (in the meantime, we'll
  redirect you to one of the many other dictionaries we love - hopefully one day we can get these dictionaries
  to join us in our mission. Love, peace, and unity. Competition unnecessary.).</p>
