<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help with anything by contacting me (Michael King) directly at +1-615-330-1498.
</p>
<p>
  Options for help are also littered throughout the experience.
</p>