<style>
  .concept-annotation {
    text-decoration:underline;
  }
</style>

<% provide(:title, 'Splash') %>
<h1>We've been expecting you.</h1>
<p>
  This is the home page for CocoMío education: learn your way, done like the <span class="concept-annotation">best learners</span>
  do it.
</p>
<p>
  Stay <span class="concept-annotation">organized</span>, <span class="concept-annotation">stay real</span>, and
  most importantly, <span class="concept-annotation"><em>have fun</em></span>.
  <span class="concept-annotation">Your entire success depends on it</span>.
</p>
